apiVersion: 1

deleteDatasources:
  - name: prometheus
    orgId: 1

prune: true

datasources:
  - name: prometheus
    orgId: 1
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    user:
    database:
    basicAuth: false
    isDefault: true
    jsonData:
      pdcInjected: false
    readOnly: false
